table{
	border: 0px 0px 1px 1px solid orange;
	border-collapse: collapse;
}
thead {
	border: 0px 0px 1px 1px;
	background-color: #888888;
	color: white;
}
th, td {
	text-align: center;
	border: 1px solid orange;
	padding: 3px 5px;
}
.sub-total-text {
	text-align: right;
}