table{
	border: 1px solid orange;
	border-collapse: collapse;
	margin: 0px 0px 1px 1px;
}
thead {
	background-color: #888888;
	color: white;
}
tr, th, td {
	text-align: center;
	border: 1px solid orange;
	padding: 3px 5px;
	margin: 0px 0px 1px 1px;
	
}
.sub-total-text {
	text-align: right;
}